.add-batch-btn {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  transition: 0.5s
}

.add-batch-btn:hover {
  background-color: lightgray;
}

.back-btn {
  cursor: pointer;
}

.back-btn:hover {
  color: gray;
}

.batch-submit-btn {
  background-color: black;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
  border: 1px solid black;
}

.batch-submit-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.batches-row {
  background: #f5f5f5;
  transition: 0.3s;
  cursor: pointer;
}

.batches-row:hover {
  background: lightgray;
}

.delete-batch-btn {
  color: red;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s
}

.delete-batch-btn:hover {
  /* color: rgb(189, 0, 0); */
  color: darkred;
}

/* Add this to your CSS file */
.file-input-container {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.file-input-container input[type="file"] {
  position: absolute;
  font-size: 100px;
  opacity: 0;
  right: 0;
  top: 0;
}

.add-batch-btn {
  margin-left: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
