.batch-btn {
  border: none;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
  border: 1px solid black;
  width: 70%;
}

.batch-btn.harvest {
  color: green;
  border: 1px solid green;
}

.batch-btn.harvest:hover {
  background-color: green;
}

.batch-btn.terminate {
  color: red;
  border: 1px solid red;
}

.batch-btn.terminate:hover {
  background-color: red;
}

.batch-btn:hover {
  background-color: black;
  color: white;
}

.delete-batch-btn {
  color: rgb(81, 81, 81);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: 0.3s
}

.delete-batch-btn:hover {
  /* color: rgb(189, 0, 0); */
  color: rgb(42, 42, 42);
}

.add-param-btn {
  cursor: pointer;
  transition: 0.3s;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.add-param-btn:hover {
  background-color: lightgray;
}

.measurement-header {
  margin: 0px;
  margin-right: 70px;
  font-weight: bold;
}

.delete-measurement-btn {
  color: red;
  cursor: pointer;
  transition: 0.3s;
}

.delete-measurement-btn:hover {
  color: rgb(114, 0, 0);
}

.graph-header-active {
  color: white;
  background-color: black;
  border-radius: 5px;
  padding: 5px 10px;
}

.graph-header {
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.graph-header:hover {
  background-color: lightgray;
}
