.custom-file-input {
  background-color: lightblue;  
  color: black;
  padding: 10px 20px;
  margin: 10px;
  width: 200px;
  cursor: pointer;
  border-radius: 5px;
  display: inline-block;
  text-align: center;

  transition: 0.3s;
}
  
.custom-file-input:hover {
  background-color: rgb(148, 182, 193);
}

/* FileUpload.css */
.session-button {
  background-color: transparent;
  color: black;
  transition: background-color 0.3s;
  padding: 5px 0;
  margin: 0;
  border: none;
  cursor: pointer;
  text-align: left;
  width: 100%;
}

.session-button:hover {
  background-color: #e0e0e0;
}

.session-button.selected {
  background-color: #d0d0d0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  border: 0.5px solid gray;
}

/* li:hover {
} */

.add-file-btn {
  display: inline-flex;
  align-items: center;
  color: black;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
  transition: 0.3s;
  margin-left: auto;
}

.add-file-btn:hover {
  background-color: lightgray;
}

.file-btn {
  background-color: white;
  width: 32%;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid gray;
}

.file-btn:hover {
  background-color: lightgray;
}

.tags-btn {
  color: rgb(103, 103, 103);
  margin-right: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.tags-btn:hover {
  color: rgb(30, 30, 30);
}

.delete-btn {
  color: red;
  cursor: pointer;
  transition: 0.2s;
}

.delete-btn:hover {
  color: rgb(191, 0, 0);
}
