.main-container {
    background-color: rgba(240,240,240,255);
}

.app {
    display: flex;
    height: 100vh; /* Full viewport height */
  }
  
  .split {
    flex: 1;
    overflow: auto; /* Enable scrolling if content overflows */
  }
  
  .left {
    background-color: #f0f0f0; /* Example background color */
  }
  
  .right {
    background-color: #ffffff; /* Example background color */
  }
  
  /* Optional: Styling for Home and TextEditor components */
  .home, .text-editor {
    padding: 20px;
  }