.setting-input {
  width: 80%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.day-input {
  width: 55%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-left: auto;
}

.run-button {
  background-color: black;
  border: none;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.5s;
}

.run-button:hover {
  background-color: green;
}