@font-face {
  font-family: 'PoppinsFont';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.step {
  width: 10%;
  height: 93%;
}

.innerStep {
  margin-left: 5px;
}

.headerStep {
  width: 10%;
  position: relative;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(230, 230, 230);
}

.headerStep:after, .headerStep:before {
  top: 0;
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
}

.headerStep:after {
  right: -20px; /* Half the height of your arrow to center it */
  border-left: 20px solid rgb(230, 230, 230); /* The color should match the arrow color */
}

.headerStep:before {
  left: 0px; /* Half the height of your arrow to center it */
  border-left: 20px solid white; /* The color should match the arrow color */
}

select {
  outline: none;
}

.boxSpaces {
  height: 3%;
}

.stepBox {
  width: 40%;
  margin-left: 10%;
}

.header {
  height: 50px;
}

.beginState, .endState {
  width: 10%;
  position: relative;
  background-color: rgb(230, 230, 230);
}

.beginState select, .endState select {
  width: 100%;
  height: 100%;
  background-color: rgb(230, 230, 230);
  text-align: center;
}

.beginState:after {
  width: 10%;
  top: 0;
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  right: -20px; /* Half the height of your arrow to center it */
  border-left: 20px solid rgb(230, 230, 230); /* The color should match the arrow color */
  z-index: 1001;
}

.endState:after {
  width: 10%;
  top: 0;
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  left: 0px; /* Half the height of your arrow to center it */
  border-left: 20px solid white; /* The color should match the arrow color */
}

.thin-icon {
  stroke-width: 0;
  color: gray;
}

.thin-icon:hover {
  background-color: rgba(255, 255, 255, 0.768);
  color: darkgray;
}
